.form {
  &__label {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    text-transform: uppercase;
    font-weight: 600;

    &:hover {
      cursor: pointer;
    }
  }
  &__input {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 2px;
    padding: 5px;
    transition:
      border 0.3s ease,
      box-shadow 0.3s ease;

    &:hover {
      box-shadow: -1px -1px 0.2px rgb(166, 166, 253);
    }

    &:focus {
      border: 1px solid rgb(3, 3, 154);
      outline: 1px solid rgb(3, 3, 154);
    }

    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 40rem white inset;
    }
  }
}
